Package: com.bympro.com
Name: bym
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mr.b 
Author: Mr.b 
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
